.Cards {
  display: flex;
  gap: 10px;
  width: 95%;
}
.parentContainer{
  width: 100%;
}
.card-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.card-button button{
background: #FFFFFF;
border: 1px solid var(--HMPBlue);
border-radius: 20px;
cursor: pointer;
height: 2rem;
width: 8rem;
color: var(--HMPBlue);
font-weight: 700;
}


#dark .card-button button{
  background: var(--DarkBG);
  filter: drop-shadow(0px 2px 4px #013765);
  color:#4AA9FA;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 80%;
  }
}
