.transactions-container {
  overflow-x: auto !important;
  padding: 1rem;
  width: 100%;
}
.AddressTopBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  flex-direction: row;
  margin-left: 1rem;
}
#dark .AddressTopBarWrapper {
  color: white;
}
.AccountNameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.transactions-wrapper > h3 {
  margin-left: 1rem;
}
#dark .transactions-wrapper > h3 {
  color: white;
}
table {
  max-width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  background: rgb(246, 246, 246);
  box-shadow: rgba(0, 0, 0, 0.25) 1px 4px 4px 2px;
  border-radius: 10px;
}
#dark table {
  box-shadow: 1px 4px 4px 2px #011424 !important;
  background: #000010 !important;
  border: 1px solid #013765;
  color: #4aa9fa;
}
table,
th,
td {
  padding: 1rem;
}

th {
  background-color: #f2f2f2;
}
#dark th {
  background-color: #000010;
  color: #4aa9fa;
  border-bottom: 1px solid #013765;
}

td {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select {
  padding: 7px 20px 7px 12px;
  width: 100%;
  border: 1px solid var(--HMPBlue);
  color: var(--HMPBlue);
  border-radius: 5px;
  background: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 150ms ease;
}
#dark select {
  background: #000010;
  filter: drop-shadow(0px 2px 4px #013765);
  color: white;
  border: 1px solid white;
}
.addressBalance {
  color: var(--HMPBlue);
}
#dark .addressBalance {
  color: white;
}

@media screen and (max-width: 768px) {
  table,
  td,
  th,
  .transactions-container {
    padding: 0.5rem;
  }
  .transactions-container {
    width: 100vw;
  }
  .AddressTopBarWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
